
@each $font-face in $font-faces {
	@font-face {
		font-family: nth( $font-face, 2 );
		src: url('../fonts/#{ nth( $font-face, 1 ) }.eot');
		src: url('../fonts/#{ nth( $font-face, 1 ) }.eot?#iefix') format('embedded-opentype'),
			url('../fonts/#{ nth( $font-face, 1 ) }.woff') format('woff'),
			url('../fonts/#{ nth( $font-face, 1 ) }.ttf') format('truetype'),
			url('../fonts/#{ nth( $font-face, 1 ) }.svg') format('svg');
		@if length( $font-face ) == 2 {
			font-weight: normal;
			font-style: normal;
		}
		@else {
			font-weight: nth( $font-face, 3 );
			@if length( $font-face ) == 3 {
				font-style: normal;
			}
			@else {
				font-style: nth( $font-face, 4 );
			}
		}
	}
}