
<div class="js-external-feed external-feed" data-feed-url="{{ url( 'example-feed' ) }}">
	<p class="p">Feed failed to load. <noscript>Enable javascript to see this instagram photo.</noscript></p>
</div>
