
body {
	color: $colour-primary;
	font-size: $type-base-size;
	line-height: 1.4;
}

button {
	font-family: $font-primary;
	font-weight: bold;
	padding: 0.5em 1em;
}

p {
	background-color: #fbb;
	border: 1px solid red;
	@include media( 500px ) {
		border: 1px solid blue;
	}
	@include hi-dpi() {
		color: blue;
	}
}

