
body {
	//background-color: $colour-primary;
}

p {
	background-color: #fbb;
	border: 1px solid red;
	@include media( 500px ) {
		border: 1px solid blue;
	}
	@include hi-dpi() {
		color: blue;
	}
}

