
// Misc
	$alternate-box-model: false;

// Dimensions
	$site-max-width: 1440px;
	$container-side-padding: 2em;

// Fonts
// These are used in fonts.scss for the @font-face rules, so they mustn't be font stacks.
	$font-primary: 'Times New Roman';
	$font-secondary: 'Courier New';
	$font-icons: 'Site-Icons';

// Colours
// Try not to give colours a colourful name - they could change in the future.
	$colour-primary: #d94c3e;
	$colour-link: #333;
	$colour-link--hover: lighten( $colour-link, 30% );

// Grid
// List the grid sizes you will be using and grid.scss will output them.
// New grid sizes add a lot of CSS, so be conservative.
// Columns must be direct children of a .row.
// Grid class syntax: {breakpoint-id}{column-size}-{grid-size}
// e.g. a4-12, b2-5, c3-8
	$grid-sizes: ( 12 5 );
	$grid-gutter-width: 2em;
	// Breakpoint 'a' already exists as the default (widest) breakpoint
	$grid-breakpoints: (
		b 767px,
		c 479px
	);
