
// Misc
	$alternate-box-model: false;

// Dimensions
	$container-max-width: 1440px;
	$container-side-padding: 2em;

// Typography
	$type-base-size: 18px;

// Fonts
	// These are used in fonts.scss for the @font-face rules, so they mustn't be font stacks.
	$font-primary: 'Courier New';
	$font-secondary: 'Times New Roman';
	$font-icons: 'Site-Icons';

	// 'font_filename' 'Font Name' font-weight font-style
	// font-weight and font-style can be omitted (defaults to normal).
	$font-faces: (
		'font1-regular' $font-primary,
		'font1-bold' $font-primary bold,
		'font2-regular' $font-secondary,
		'icomoon' $font-icons
	);

// Colours
	// Try not to give colours a colourful name - they could change in the future.
	$colour-primary: #d94c3e;
	$colour-link: #333;
	$colour-link--hover: lighten( $colour-link, 30% );

// Grid
	// List the grid sizes you will be using and grid.scss will output them.
	// New grid sizes add a lot of CSS, so be conservative.
	// Columns must be direct children of a .row.
	// Grid class syntax: {breakpoint-id}{column-size}-{grid-size}
	// e.g. a4-12, b2-5, c3-7
	$grid-sizes: ( 12 5 );
	$grid-gutter-width: 2em;
	// Breakpoint 'a' already exists as the default (widest) breakpoint
	$grid-breakpoints: (
		b 767px,
		c 479px
	);
