
<div class="slideshow" data-slides=".slide" data-next="js-slideshow-next" data-previous="js-slideshow-previous" data-index-label="js-slideshow-slide-count">
	<div class="slide">
		<img src="http://i.ten4design.co.uk/400-300-dddd44" width="400" height="300">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet reiciendis libero fugiat delectus molestiae itaque eligendi consectetur commodi rem quis quam tempore illo, corporis fuga beatae sequi ex eum sit?</p>
	</div>
	<div class="slide">
		<img src="http://i.ten4design.co.uk/400-300-44dd44" width="400" height="300">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta omnis, facilis vitae laboriosam voluptas deserunt quisquam id, dolorem, ducimus error et placeat hic eius eaque consequatur reiciendis aspernatur at enim?</p>
	</div>
	<div class="slide">
		<img src="http://i.ten4design.co.uk/400-300-44dddd" width="400" height="300">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum praesentium laudantium nesciunt illum quidem iusto saepe et quaerat adipisci vel, odio cupiditate ex, distinctio reiciendis aliquam. Voluptatibus, molestiae repellendus omnis.</p>
	</div>
	<div class="slide">
		<img src="http://i.ten4design.co.uk/400-300-4ddd4d" width="400" height="300">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa possimus doloremque alias reprehenderit nostrum quidem cum, nemo, est nihil, minima nesciunt rerum tempora fugit! Eveniet repellat, corporis magni iste.</p>
	</div>
</div>

<p>Slide <span id="js-slideshow-slide-count">1</span> of 4</p>

<button id="js-slideshow-previous">Previous</button>
<button id="js-slideshow-next">Next</button>
