
.slideshow .slideshow__slide {
	opacity: 0; // Remove this line if you don't want the slides to fade out while sliding away.
}

.slideshow.slideshow--swap .slideshow__slide,
.slideshow .slideshow__slide.slideshow__slide--behind {
	left: -100%;
	right: 100%;
}

.slideshow .slideshow__slide,
.slideshow.slideshow--swap .slideshow__slide.slideshow__slide--behind {
	left: 100%;
	right: -100%;
}

.slideshow .slideshow__slide--behind,
.slideshow .slideshow__slide--top {
	transition: left 1s ease, right 1s ease, opacity 0.6s ease;
}

.slideshow .slideshow__slide--behind,
.slideshow.slideshow--swap .slideshow__slide--behind {
	z-index: 1;
}

.slideshow .slideshow__slide--top,
.slideshow.slideshow--swap .slideshow__slide--top {
	left: 0;
	right: 0;
	opacity: 1;
	z-index: 2;
}
